<div style="width: 100%; height: 100%; position: relative; background: #FDF6EE">
    <div style="width: 256px; height: 679px; left: 172px; top: 241px; position: absolute">
        <div style="width: 256px; height: 679px; left: 0px; top: 0px; position: absolute; background: #D9D9D9; border-radius: 25px"></div>
        <div style="left: 16px; top: 177px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Maven Pro; font-weight: 500; word-wrap: break-word">Breed</div>
        <div style="left: 16px; top: 20px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Maven Pro; font-weight: 500; word-wrap: break-word">Sex</div>
        <div style="left: 53px; top: 64px; position: absolute; text-align: center; color: black; font-size: 18px; font-family: Maven Pro; font-weight: 400; word-wrap: break-word">Male</div>
        <div style="left: 54px; top: 110px; position: absolute; text-align: center; color: black; font-size: 18px; font-family: Maven Pro; font-weight: 400; word-wrap: break-word">Female</div>
        <div style="left: 54px; top: 223px; position: absolute; text-align: center; color: black; font-size: 18px; font-family: Maven Pro; font-weight: 400; word-wrap: break-word">Hatdog</div>
        <div style="left: 50px; top: 269px; position: absolute; color: black; font-size: 18px; font-family: Maven Pro; font-weight: 400; word-wrap: break-word">Let me do it for you</div>
    </div>
    <div style="width: 536px; height: 72px; left: 732px; top: 137px; position: absolute">
        <div style="width: 536px; height: 72px; left: 0px; top: 0px; position: absolute; background: #F2D9C6; border-radius: 15px"></div>
        <div style="width: 460px; height: 48px; left: 38px; top: 12px; position: absolute">
            <div style="width: 153px; height: 48px; left: 152px; top: 0px; position: absolute">
                <div style="width: 153px; height: 48px; left: 0px; top: 0px; position: absolute; background: #FDF6EE; border-radius: 25px"></div>
                <div style="left: 44px; top: 15px; position: absolute; text-align: center; color: black; font-size: 18px; font-family: Maven Pro; font-weight: 400; word-wrap: break-word">Medium</div>
            </div>
            <div style="width: 121px; height: 48px; left: 339px; top: 0px; position: absolute">
                <div style="width: 121px; height: 48px; left: 0px; top: 0px; position: absolute; background: #FDF6EE; border-radius: 25px"></div>
                <div style="left: 38px; top: 15px; position: absolute; text-align: center; color: black; font-size: 18px; font-family: Maven Pro; font-weight: 400; word-wrap: break-word">Large</div>
            </div>
            <div style="width: 118px; height: 48px; left: 0px; top: 0px; position: absolute">
                <div style="width: 118px; height: 48px; left: 0px; top: 0px; position: absolute; background: #FDF6EE; border-radius: 25px"></div>
                <div style="left: 37px; top: 15px; position: absolute; text-align: center; color: black; font-size: 18px; font-family: Maven Pro; font-weight: 400; word-wrap: break-word">Small</div>
            </div>
        </div>
    </div>
    <div style="width: 536px; height: 42px; left: 172px; top: 152px; position: absolute">
        <div style="width: 536px; height: 42px; left: 0px; top: 0px; position: absolute; background: #D9D9D9; border-radius: 50px"></div>
        <div style="width: 24px; height: 24px; left: 26px; top: 9px; position: absolute; background: black"></div>
    </div>
    <div style="width: 816px; height: 257px; left: 452px; top: 803px; position: absolute">
        <div style="width: 256px; height: 257px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div style="width: 256px; height: 241px; background: #F2D9C6; border-radius: 25px"></div>
            <div style="width: 244px; height: 183px; background: #D9D9D9; border-radius: 25px"></div>
            <div style="color: black; font-size: 35px; font-family: Maven Pro; font-weight: 700; word-wrap: break-word">Image here</div>
            <div style="text-align: center; color: #82614A; font-size: 22px; font-family: Maven Pro; font-weight: 500; word-wrap: break-word">Name</div>
        </div>
        <div style="width: 256px; height: 257px; left: 280px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div style="width: 256px; height: 241px; background: #F2D9C6; border-radius: 25px"></div>
            <div style="width: 244px; height: 183px; background: #D9D9D9; border-radius: 25px"></div>
            <div style="color: black; font-size: 35px; font-family: Maven Pro; font-weight: 700; word-wrap: break-word">Image here</div>
            <div style="text-align: center; color: #82614A; font-size: 22px; font-family: Maven Pro; font-weight: 500; word-wrap: break-word">Name</div>
        </div>
        <div style="width: 256px; height: 257px; left: 560px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div style="width: 256px; height: 241px; background: #F2D9C6; border-radius: 25px"></div>
            <div style="width: 244px; height: 183px; background: #D9D9D9; border-radius: 25px"></div>
            <div style="color: black; font-size: 35px; font-family: Maven Pro; font-weight: 700; word-wrap: break-word">Image here</div>
            <div style="text-align: center; color: #82614A; font-size: 22px; font-family: Maven Pro; font-weight: 500; word-wrap: break-word">Name</div>
        </div>
    </div>
    <div style="width: 816px; height: 257px; left: 452px; top: 522px; position: absolute">
        <div style="width: 256px; height: 257px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div style="width: 256px; height: 241px; background: #F2D9C6; border-radius: 25px"></div>
            <div style="width: 244px; height: 183px; background: #D9D9D9; border-radius: 25px"></div>
            <div style="color: black; font-size: 35px; font-family: Maven Pro; font-weight: 700; word-wrap: break-word">Image here</div>
            <div style="text-align: center; color: #82614A; font-size: 22px; font-family: Maven Pro; font-weight: 500; word-wrap: break-word">Name</div>
        </div>
        <div style="width: 256px; height: 257px; left: 280px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div style="width: 256px; height: 241px; background: #F2D9C6; border-radius: 25px"></div>
            <div style="width: 244px; height: 183px; background: #D9D9D9; border-radius: 25px"></div>
            <div style="color: black; font-size: 35px; font-family: Maven Pro; font-weight: 700; word-wrap: break-word">Image here</div>
            <div style="text-align: center; color: #82614A; font-size: 22px; font-family: Maven Pro; font-weight: 500; word-wrap: break-word">Name</div>
        </div>
        <div style="width: 256px; height: 257px; left: 560px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div style="width: 256px; height: 241px; background: #F2D9C6; border-radius: 25px"></div>
            <div style="width: 244px; height: 183px; background: #D9D9D9; border-radius: 25px"></div>
            <div style="color: black; font-size: 35px; font-family: Maven Pro; font-weight: 700; word-wrap: break-word">Image here</div>
            <div style="text-align: center; color: #82614A; font-size: 22px; font-family: Maven Pro; font-weight: 500; word-wrap: break-word">Name</div>
        </div>
    </div>
    <div style="width: 816px; height: 257px; left: 452px; top: 241px; position: absolute">
        <div style="width: 256px; height: 257px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div style="width: 256px; height: 241px; background: #F2D9C6; border-radius: 25px"></div>
            <div style="width: 244px; height: 183px; background: #D9D9D9; border-radius: 25px"></div>
            <div style="color: black; font-size: 35px; font-family: Maven Pro; font-weight: 700; word-wrap: break-word">Image here</div>
            <div style="text-align: center; color: #82614A; font-size: 22px; font-family: Maven Pro; font-weight: 500; word-wrap: break-word">Name</div>
        </div>
        <div style="width: 256px; height: 257px; left: 280px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div style="width: 256px; height: 241px; background: #F2D9C6; border-radius: 25px"></div>
            <div style="width: 244px; height: 183px; background: #D9D9D9; border-radius: 25px"></div>
            <div style="color: black; font-size: 35px; font-family: Maven Pro; font-weight: 700; word-wrap: break-word">Image here</div>
            <div style="text-align: center; color: #82614A; font-size: 22px; font-family: Maven Pro; font-weight: 500; word-wrap: break-word">Name</div>
        </div>
        <div style="width: 256px; height: 257px; left: 560px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div style="width: 256px; height: 241px; background: #F2D9C6; border-radius: 25px"></div>
            <div style="width: 244px; height: 183px; background: #D9D9D9; border-radius: 25px"></div>
            <div style="color: black; font-size: 35px; font-family: Maven Pro; font-weight: 700; word-wrap: break-word">Image here</div>
            <div style="text-align: center; color: #82614A; font-size: 22px; font-family: Maven Pro; font-weight: 500; word-wrap: break-word">Name</div>
        </div>
    </div>
    <div style="width: 1440px; height: 85px; left: 0px; top: -1px; position: absolute">
        <div style="width: 1440px; height: 85px; left: 0px; top: 0px; position: absolute; background: #D7B7A0"></div>
        <div style="width: 356px; height: 36px; left: 39px; top: 25px; position: absolute">
            <div style="width: 40px; height: 35px; left: 0px; top: 1px; position: absolute; background: #5F483E"></div>
            <div style="left: 50px; top: 0px; position: absolute; color: #5F483E; font-size: 28px; font-family: Mali; font-weight: 500; word-wrap: break-word">PawsomePupportunity</div>
        </div>
        <div style="width: 271px; height: 33px; left: 584px; top: 26px; position: absolute">
            <div style="width: 116px; left: 0px; top: 0px; position: absolute; text-align: center; color: rgba(95, 72, 62, 0.80); font-size: 20px; font-family: Maven Pro; font-weight: 500; word-wrap: break-word">Home</div>
            <div style="width: 115px; left: 156px; top: 0px; position: absolute; text-align: center; color: #5F483E; font-size: 20px; font-family: Maven Pro; font-weight: 500; word-wrap: break-word">Adopt</div>
            <div style="width: 77px; height: 0px; left: 175px; top: 33px; position: absolute; background: #5F483E; border: 3px #5F483E solid"></div>
        </div>
    </div>
    <div style="width: 22px; height: 20px; left: 194px; top: 308px; position: absolute; background: #FDF6EE; border-radius: 5px; border: 1px #482712 solid"></div>
</div>