<div class="adopt-wrapper">
    <div class="dogs-container">
        <div class="heading">
            <div class="buttons">
                <div class="small-btn button">
                    Small
                </div>
                <div class="med-btn button">
                    Medium
                </div>
                <div class="large-btn button">
                    Large
                </div>
            </div>
        </div>
        <div *ngFor="let dog of dogs" class="container">
            <div class="button dog-button">
                <div class="icon">
                    <img src="data:image/jpeg;base64,{{dog.dogImage}}" alt="">
                </div>
                <div class="label">
                  {{dog.dogName}}
                </div>
            </div>

            <!-- <div class="button dog-button"> -->
            <!--     <div class="icon"> -->
            <!--         <img src="https://media.discordapp.net/attachments/976691420087853066/1167478273563963472/AkanePout.jpeg?ex=654e45df&is=653bd0df&hm=d9e27fee28f4908d287cc2af043f6d00a6239759cd35ad4187aeb6ab89864b98&=" alt=""> -->
            <!--     </div> -->
            <!--     <div class="label"> -->
            <!--         Label -->
            <!--     </div> -->
            <!-- </div> -->

            <!-- <div class="button dog-button"> -->
            <!--     <div class="icon"> -->
            <!--         <img src="https://media.discordapp.net/attachments/976691420087853066/1167478273563963472/AkanePout.jpeg?ex=654e45df&is=653bd0df&hm=d9e27fee28f4908d287cc2af043f6d00a6239759cd35ad4187aeb6ab89864b98&=" alt=""> -->
            <!--     </div> -->
            <!--     <div class="label"> -->
            <!--         Label -->
            <!--     </div> -->
            <!-- </div> -->

            <!-- <div class="button dog-button"> -->
            <!--     <div class="icon"> -->
            <!--         <img src="https://media.discordapp.net/attachments/976691420087853066/1167478273563963472/AkanePout.jpeg?ex=654e45df&is=653bd0df&hm=d9e27fee28f4908d287cc2af043f6d00a6239759cd35ad4187aeb6ab89864b98&=" alt=""> -->
            <!--     </div> -->
            <!--     <div class="label"> -->
            <!--         Label -->
            <!--     </div> -->
            <!-- </div> -->

            <!-- <div class="button dog-button"> -->
            <!--     <div class="icon"> -->
            <!--         <img src="https://media.discordapp.net/attachments/976691420087853066/1167478273563963472/AkanePout.jpeg?ex=654e45df&is=653bd0df&hm=d9e27fee28f4908d287cc2af043f6d00a6239759cd35ad4187aeb6ab89864b98&=" alt=""> -->
            <!--     </div> -->
            <!--     <div class="label"> -->
            <!--         Label -->
            <!--     </div> -->
            <!-- </div> -->
        </div>
    </div>
</div>
