.homepage-wrapper .banner {
    background-color: #d7b7a0;
    width: 100%;
    height: 420px;
}

.button {
    cursor: pointer;
    opacity: 1;
    transition: 0.4s;
}

/* LOGO */
.logo {
    left: 10px;
    display: flex;
    position: absolute;
    font-family: 'Mali', cursive;
}

.logo .icon {
    width: 30px;
}

.logo .company-name {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;

    margin-left: 10px;
}

/* NAV BAR */
.navbar {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 50px;
    z-index: 9999;

    background-color: #d7b7a0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .button {
    margin: 20px;
    padding: 0 10px 3px 10px;
    color: #5f483eb7;
    font-weight:500;
    position: relative;
    text-decoration: none;
}

.navbar .button.selected {
    color: #5f483e;
}

.navbar .button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #5f483e;
    transition: width 0.3s ease;
}

.navbar .button:hover::after {
    width: 100%;
}

.navbar .button:hover {
    color: #5f483e;
}

.navbar .button.selected::after {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .logo .company-name {
        display: none;
    }
}

/* SLOGAN */
.banner {
    display: flex;
    justify-content: center;
    position: relative;
}

.banner .slogan-container {
    display: flex;
    justify-content: center;
}

.banner .slogan {
    width: 520px;
    display: flex;
    align-items: center;
}

.banner .slogan .main-slogan {
    font-weight: bold;
    font-size: 35px;
}

.banner .slogan .sub-slogan {
    margin-top: 20px;
}

.banner .clipart {
    height: 90%;
    margin-left: 30px;
}

@media only screen and (max-width: 700px) {
    .banner .clipart {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    .banner .clipart {
        height: 70%;
        margin-left: 30px;
        margin-top: 50px;
    }

    .banner .slogan {
        width: 320px;
    }

    .banner .slogan .main-slogan {
        font-size: 25px;
    }

    .banner .slogan .sub-slogan {
        font-size: 10px;
    }
}

/* CONTENT */
.content {
    display: flex;
    justify-content: center;
}

.dog-buttons.nav-inbtn {
    display: flex;
    justify-content: center;
}

.dog-buttons .button {
    background-color: #F2D9C6;
    margin: 20px;
    width: 150px;
    height: 150px;
    justify-content: center;

    border-radius: 25px;
    position: relative;
    border: 4px solid transparent;
}

.content-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-inbtn .button:hover {
    cursor: pointer;
    box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2);
    transition: box-shadow 800ms cubic-bezier(0.19, 1, 0.22, 1), transform 800ms cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateY(-8px);
}

.dog-buttons .button .icon {
    width: 100%;
    height: 120px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.dog-buttons .button .icon img {
    object-fit: cover;
    width: 90%;
    height: 90%;
    border-radius: 20px;
}

.dog-buttons .button .label {
    font-family: 'Maven Pro', sans-serif;
    color: #5f483e;
    font-weight: 500;

    text-align: center;
}

.ready-dogs .header {
    font-weight: 700;
    margin-bottom: 10px;
}

.ready-dogs .button {
    align-items: flex-start;
}

.content-btns .button {
    display: inline-block;
}

.ready-dogs .button .icon{
    height: 120px;
}

.dog-buttons .button .viewBtnCtn {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.dog-buttons .button .viewBtnCtn .viewBtn {
    width: 125px; 
    height: 24px;  /* Adjust height as needed */
    position: absolute;
    background: #FEAF48;
    border-radius: 15px;
    bottom: -13px;
    opacity: 0;
    transition: opacity 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    font-size: 14px; /* Adjust font size as needed */
    color: #fff; 
}

.dog-buttons .button:hover .viewBtnCtn .viewBtn {
    opacity: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ready-dogs .button:hover {
    opacity: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-style: solid;
    border-color: #FEAF48;
    border-radius: 25px;
}

.ready-dogs .button:last-child .icon{
    height: 70px;
    width: 75px;
}

.ready-dogs .button:last-child .label{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    color: #FEAF48;
}

.ready-dogs .button:last-child .label-more{
    color: #FEAF48;
    font-weight: 400;
    font-size: 14px;
    height: 13px;
    align-items: center;
    justify-content: center;
}

.ready-dogs .button:last-child .label-more .arrowCtn{
    transform: translateY(1px);
}

.ready-dogs .button:last-child {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    background-color: transparent;
    border-color: #FEAF48;
}

.ready-dogs .button:last-child:hover {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    background-color: #FEAF48;
    border-color: transparent;
}

.ready-dogs .button:last-child:hover .label{
    color: #ffffff;
    transition: 0.4s;
}

.ready-dogs .button:last-child:hover .label-more{
    color: #ffffff;
    transition: 0.4s;
}

.ready-dogs .button:last-child:hover .icon .dogIcon{
    fill: #ffffff;
    transition: 0.4s;
}

.ready-dogs .button:last-child:hover .label-more .arrowCtn{
    transition: 0.4s;
    transform: translate(8px, 1px);
}

.ready-dogs .button:last-child:hover .label-more  .arrowCtn .arrow{
    fill: #ffffff;
    transition: 0.4s;
}

.extra-space {
    height: 500px;
}

@media only screen and (max-width: 600px) {
    .dog-buttons .button {
        width: 100px;
        height: 100px;
        font-size: 10px;
    }

    .dog-buttons .button .icon {
        height: 80px;
    }
}